.my_blog {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.my_name {
  display: flex;
  justify-content: center;
  width: 100%;
  color: blue;
}
